<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My test view page</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<div class="header-img">
<h1>View</h1>
<p>version - 001</p>

</div>
<div class="content">
<div class="left-panel">
<div class="left-panel-in">
<h2 class="title">OUT PUT</h2>
<p>&nbsp;</p>
<p>first parag </p>
<p>&nbsp;</p>

    <div>
        <p style="font-size:24px;">
            {{num1}} {{ope}} {{num2}} = {{out}}
        </p>
    </div>

second parag
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 class="title">Sub text<br>
</h2>
<p>&nbsp;</p>
<p>sub text is here
  <br>
<br>
</p>
</div>
</div>
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="{{ url_for('static',filename='images/design_img.gif')}}" class="copyright" alt="HTML Templates"></a>
<div class="right-panel">
<div class="right-panel-in">

<h3>References</h3>
<ul>
  <li><a target="_blak" href="http://aqibsaeed.github.io/2016-11-04-human-activity-recognition-cnn/">Fisrt Refer<br>
    </a></li>
  <li><a target="_blank" href="https://google.com">Google.com<br>
    </a></li>
  <li><a target="_blank" href="https://youtube.com">Youtube<br>
    </a></li>
</ul>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
<div class="footer">
<p> made by Jihun 2019-03
</p>
</div>
</div>
</div>

</body></html>